# =========================
# Admin
# =========================
ADMIN_PASSWORD=123456

# =========================
# Qdrant
# =========================
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=flower_knowledge_base

# =========================
# Model
# =========================
BASE_MODEL_NAME=Qwen/Qwen2.5-3B-Instruct
DIALOGUE_POLICY_ADAPTER_PATH=outputs/qwen2.5-3b-dialogue-policy-final

# =========================
# App
# =========================
APP_ENV=development
